<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PSSports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PSSports.Properties.Settings>
            <setting name="LoginAttempts" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="UserPs" serializeAs="String">
                <value />
            </setting>
            <setting name="PassPs" serializeAs="String">
                <value />
            </setting>
            <setting name="User16" serializeAs="String">
                <value />
            </setting>
            <setting name="Pass16" serializeAs="String">
                <value />
            </setting>
        </PSSports.Properties.Settings>
    </userSettings>
</configuration>